body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #1d1e19;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  color: #f6f7ee;
}

.header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 360px;
}

.header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 360px;
}

.count {
  padding: 2px;
  font-size: 10pt;
  border-width: 1px;
  border-style: solid;
  background-color: #23221c;
  color: #686964;
}

.count span {
  text-align: center;
  font-size: 16pt;
  display: block;
}

.content {
  max-width: 80vh;
}

.restart-game {
  white-space: nowrap;
  margin-right: 10px;
  padding: 5px;
  background: linear-gradient(to bottom, #e0e0e0, #b0b0b0);
  cursor: pointer;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}